body {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}
table {
  border-collapse: separate;
  border-spacing: 5px;
padding: 5px;
border: 1px solid royalblue;
}
th, td {
  padding: 5px;
  background-color: darkgrey;
border: 1px solid royalblue;
text-align: center;
}
a {
color: #000;
padding: 5px;
cursor: pointer;
}
a:hover {
  color: grey;
}
input {
  background-color: #fff;
  }

.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100%;
 width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: darkgrey;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.table-section {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
 background-color: burlywood;
}

.table {
  text-transform: capitalize;
}
.form-section {
  display: flex;
  flex-direction: column;
 justify-content: space-around;
 align-items: center;
 padding: 10px;
 
}
.section-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: auto;
}
.form-section-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
background-color: burlywood;

}
.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
background-color: darkgrey;
border: 1px solid royalblue;
}
.field-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: darkgrey;
}
.footer-medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}